<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/92df2ef762.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
         <% if user_signed_in? %>
          <li>
           <%= link_to "Home", user_path(current_user.id), class:"btn btn-link"%>
           <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </li>

          <li>
           <%= link_to "Users" ,
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
           </li>
          <li>
           <%= link_to "Books",
           <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          </li>
          <li>
           <%= link_to "logout", destroy_user_session_path, method: :delete ,class:"btn btn-link" %>
           <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          </li>
         <% else %>
          <li>
           <%= link_to "Home" ,
           <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </li>
          <li>
           <%= link_to "About" ,
           <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </li>
          <li>
           <%= link_to "sign_up", new_user_registration_path, class:"btn btn-link" %>
           <span class="glyphicon glyphicon-person-plus-fill" aria-hidden="true"></span>
          </li>
          <li>
           <%= link_to "login", new_user_session_path, class:"btn btn-link"%>
           <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

    <%= yield %>
  <footer>
   <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
   </div>
  </footer>
</body>
</html>
